<!DOCTYPE html>
<html>
<head>
  <title>Kp jwt</title>
  <%= stylesheet_link_tag    "kp_jwt/application", media: "all" %>
  <%= javascript_include_tag "kp_jwt/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
